html{
    text-align: center;
}


*, *:before, *:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 700;
    align-items: center;
    line-height: 1;
    background:#000;
    max-width: 100%;
    width: 1440px;
    min-width: 480px;
}
ul{
    list-style-type: none;
    padding:0;
    width: 480px;
}
li{
    display: inline-block;
}

.na{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: all .2s linear;
    padding: .5rem; 
}

.na:hover{
    color:#7C1CF7;
    padding: .5rem 1rem;   
}
.header{
    background: url(../src/img/turned-gray-laptop-computer\ 1.png) center no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 169px;
}
nav{
    height: 28px;
    display: inline-block;
    margin-top: 34px;

}
.portfolio{
    width: 99%;
    margin-top: 268.5px;
}
h1, h2, h3, h4, h5, h6{
    color: #fff;
}
h1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: .5;
    text-align: left;
    margin-top: 44px;
}
h4{
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
}

h2{
    font-size: 2.5rem;
    text-align: left;
    font-weight: 600;
    width: 100%;
}
.about{
    padding: .5rem 1rem;
    margin-top: 20px;
    height:330px;
}
.my_photo{

    border-radius: 40px;
    float:left;
}

p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.left{
    background: none;
    border: none;
    cursor: pointer;
    float: left;

}
.right{
    background: none;
    border: none;
    cursor: pointer;
    float: right;

}
.left_2{
    background: none;
    border: none;
    cursor: pointer;
    float: left;
}
.right_2{
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

.slider{
    overflow: hidden;
}

.spisok{
    transition: .2s;
    display: flex;
    margin-left: 10px;
}
h6{
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.content{
    width:33%;
}



.card{
    width:90%;
    padding: 70px 0;
    border-radius: 40px;
    background: #311C4A;
    margin-top: 20px;
    transition: all .5s linear;
    border-radius: 40px;
    color:#fff;
    font-size: 2vw;
}


.card:hover{
    background: linear-gradient(217.8deg, #CE2035 10.61%, #7C1CF7 68.57%);
}
.slider_2{
    overflow: hidden;
}
.spisok_2{
    display: flex;
    transition: .2s;
    margin-left: 10px;
}

.progects{
    margin-top: 100px;
}
.slider-container{
    overflow: hidden;
}

.slider-track{
    display: flex;
    transition: .2s;
}

h5{
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text_progect{
    font-size: 20px;
    font-weight: 400;
    margin:0 0 30px 0;
}
.btn{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 18px 53px;
    background: linear-gradient(217.8deg, #CE2035 10.61%, #7C1CF7 68.57%);
    border-radius: 40px;
    margin-top: 70px;
    transition: .2s linear;
}

.btn:hover{
    background: #311C4A;
}

.btn-prev{
    float: left;
    background:none;
    border: none;
    cursor: pointer;
}

.btn-next{
    float:right;
    background:none;
    border: none;
    cursor: pointer;


}


.call{
    height: 880px;
    background:#311D4A;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    padding:.5rem 1rem;
}
.name{
    background:#fff;
    color: #000;
}



form{
    margin-top: 35px;
}

input{
    width: 430px;
    margin-top: 13px;
    min-height: 64px;
    border-radius: 40px;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    background:transparent;
    color: #fff;
    border: 1px solid #ccc;
}

.bot-send-mail{
    text-align: center;
    background:linear-gradient(217.8deg, #CE2035 10.61%, #7C1CF7 68.57%);
    border: none;
    width: 430px;
    height: 64px;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0em;
    margin-top: 13px;
    border-radius: 40px;


}
.svz{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #fff;



}
.icon{
    vertical-align:sub;
}
.massenger{
    margin-left: 20px;
    margin-top: 55px;
}